@import url('https://fonts.googleapis.com/css2?family=Dokdo&display=swap');

body {
	background: #2f2f2e url(../img/cross-stripes.png);
	cursor: url(../img/cursor.png), auto;
}

#game-bg {
  display: flex;
  flex-wrap: wrap;
  width: 544px;
  height: 544px;
  margin: 20px auto;
	margin-top: 50px;
  background-image: url(../img/map.png);
  background-size: contain;
  position: relative;
  z-index: 1;
}

.game-board {
	display: flex;
	flex-wrap: wrap;
	width: 480px;
	height: 480px;
	margin: 20px auto;
	margin-top: 32px;
	background-size: contain;
	position: relative;
}

.tile {
	width: 32px;
	height: 32px;
	position: relative;
	box-sizing: border-box;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: url(../img/cursor.png), auto;
}

.tile.exit.exit-active {
  /* extra glow / highlight när den är upplåst */
  box-shadow: inset 0 0 5px rgba(255, 255, 0, 0.4);
}

.tile.move-target {
  outline: 1px solid rgba(255, 255, 255, 0.3);}

.hero {
	background-image: url(../img/hero-idle.gif);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	width: 32px;
	height: 32px;
}

.hero.hit {
  animation: hero-hit 0.3s;
}

@keyframes hero-hit {
  0%   { transform: translate(0, 0); }
  25%  { transform: translate(-3px, 0); }
  50%  { transform: translate(3px, 0); }
  75%  { transform: translate(-3px, 0); }
  100% { transform: translate(0, 0); }
}

.enemy {
	background-image: url(../img/green-slime.gif);
	background-size: contain;
	background-repeat: no-repeat;
	width: 32px;
	height: 32px;
}

.enemy-in-range {
  animation: enemyBlink 0.8s infinite alternate;
}

@keyframes enemyBlink {
  0% {
    box-shadow: inset 0 0 10px rgba(255, 0, 0, 0.1);
  }
  100% {
    box-shadow: inset 0 0 15px rgba(255, 0, 0, 0.4);
  }
}

.life-container {
	color: #fff;
  font-family: 'Dokdo', cursive;
  font-size: 32px;
	margin: 0 auto;
	margin-top: -38px;
	position: relative;
	left: 160px;
	width: 220px;
}

.life-icon {
	display: inline-block;
	width: 20px;
	height: 20px;
	background-image: url(../img/heart.png);
	background-size: contain;
	background-repeat: no-repeat;
	margin-right: 5px;
}


#level-display {
  color: #fff;
  font-family: 'Dokdo', cursive;
  font-size: 32px;
  margin: 0 auto;
  margin-top: -25px;
  position: relative;
  right: 170px;
  width: 180px;
}

#game-title {
  color: #fff;
  font-family: 'Dokdo', cursive;
  font-size: 45px;
  position: absolute;
  left: 100px;
  top: -20px;
}

#game-subtitle {
  color: #ffff00;
  font-family: 'Dokdo', cursive;
  font-size: 24px;
  position: absolute;
  left: 115px;
  top: 35px;
}

#how-to-play {
	background:#bdaa97;
  box-shadow:inset 2px 2px 2px 0 #353540;
  border:2px solid #eee4da;
  border-radius: 3px;
	color: #353540;
	font-family: 'Dokdo', cursive;
	font-size: 20px;
	position: absolute;
	padding: 10px;
	top: 130px;
	left:50px;
	width:300px;
}

#how-to-play span {
	background: #353540;
	box-shadow:inset 0px 5px 1px 0 rgba(500,500,500,0.1);
	border:2px solid #eee4da;
	border-radius: 3px;
	color:#fff;
	font-family: 'Dokdo', cursive;
	font-weight:normal;
	font-size: 32px;
	margin: 0 auto;
	position: relative;
	top: -20px;
	padding: 3px 5px;
	width:180px;
	height: 20px;
	line-height: 22px;
}

#version-info {
  bottom: 0px;
  color: #fff;
  font-family: 'Dokdo', cursive;
  font-size: 10px;
  position: absolute;
}

#hiscore-info {
  background: #bdaa97;
  box-shadow:
    inset 2px 2px 4px rgba(0, 0, 0, 0.4),
    0 4px 12px rgba(0, 0, 0, 0.4);
  border: 3px solid #eee4da;
  border-radius: 8px;
  color: #353540;
  font-family: 'Dokdo', cursive;
  font-size: 21px;
  position: absolute;
  padding: 10px 16px 18px;
  top: 130px;
  left: 50px;
  width: 260px;
}

/* Tabbad titel */
#hiscore-title {
  background: #353540;
  border: 3px solid #eee4da;
  border-radius: 8px;
  color: #fff;
  font-size: 28px;
  padding: 4px 16px;
  text-align: center;
	margin: 0 auto;
	margin-bottom: 20px;
  box-shadow: inset 0 3px 2px rgba(255, 255, 255, 0.1);
	width: 150px;
}

/* Listan */
#hiscore-info ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#hiscore-info ul li {
  font-size: 26px;
  color: #353540;
  margin-bottom: 10px;

  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
}


#how-to-btn {
	background: #353540;
	box-shadow: inset 0 3px 2px rgba(255, 255, 255, 0.1);
	border:2px solid #eee4da;
	border-radius:8px;
	bottom: 10px;
	color:#fff;
	font-family: 'Dokdo', cursive;
	font-weight:normal;
	font-size:24px;
	padding:5px 20px;
	position: absolute;
	right: 10px;
	text-decoration: none;
}

#how-to-btn:active {bottom: 7px;}

/* MODAL BOX */
.swal-modal {
	background: #bdaa97;
  box-shadow:
    inset 2px 2px 2px 0 #353540,
    0 8px 18px rgba(0, 0, 0, 0.35);
  border: 2px solid #eee4da;
  border-radius: 8px;
  padding: 0;
}

.swal-title {
	display: block;
  background: #353540;
  box-shadow: inset 0 4px 1px 0 rgba(255, 255, 255, 0.08);
  border: 2px solid #eee4da;
  border-radius: 8px;
  color: #fff;
  font-family: 'Dokdo', cursive;
  font-weight: normal;
  font-size: 32px;
  padding: 4px 18px;
  margin: 0 auto 10px;
  text-align: center;
	width: 50%;
}

.swal-text {
	color: #353540;
  font-family: 'Dokdo', cursive;
  font-size: 24px;
  text-align: center;
  margin: 10px 0 16px;
}

.swal-button {
	background: #353540;
	box-shadow: inset 0 4px 1px 0 rgba(255, 255, 255, 0.08);
	border:2px solid #eee4da;
	border-radius:8px;
	color:#fff;
	font-family: 'Dokdo', cursive;
	font-weight:normal;
	font-size:24px;
	padding:5px 20px;
	cursor: url(../img/cursor.png), auto;
}
.swal-button:focus {box-shadow:inset 0px 5px 1px 0 rgba(500,500,500,0.1);}
.swal-button:hover {background:#353540 !important;}
.swal-button:active {position:relative; top:3px;}

.swal-content__input {
  width: 100%;
  box-sizing: border-box;
  padding: 6px 10px;
  margin-top: 6px;
  border-radius: 3px;
  border: 2px solid #353540;
  background: #eee4da;
  color: #353540;
  font-family: 'Dokdo', cursive;
  font-size: 20px;
  outline: none;
}

.swal-content__input:focus {
  border-color: #fff;
  box-shadow: 0 0 0 2px rgba(53, 53, 64, 0.5);
}

/* iPad styles */
@media only screen and (min-device-width: 768px) and (max-device-width: 1080px) and (orientation: landscape) {
	#game-title {
	  left: 20px;
	  top: -20px;
	}

	#game-subtitle {
	  left: 40px;
	  top: 40px;
	}

	#how-to-play {
		left: 20px;
		width: 220px;
		font-size: 18px;
	}

	#how-to-play span {
		font-size: 22px;
	}

	#hiscore-info {
		left: 10px;
		width: 230px;
		top: 150px;
	}
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1080px) and (orientation: portrait) {
	#game-bg {
		margin-top: 150px;
	}

	#game-title {
	  left: 38%;
	  top: -20px;
	}

	#game-subtitle {
	  left: 40%;
	  top: 40px;
	}

	#how-to-play {
		display: none
	}

	#hiscore-info {
		display: none;
	}
}
